# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
E_atm/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints

# Conda / pip
*.yml
*.yaml

# Logs
*.log

# Database
*.db
*.sqlite3

# Model / trained files
*.dat
*.clf
*.pkl
*.h5
*.joblib

# Images (if dataset is large)
Dataset/
*.png
*.jpg
*.jpeg

# Video / audio (if any)
*.mp4
*.avi
*.mov
*.mp3
*.wav

# Others
__MACOSX/
*.bak
*.swp
